#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_NAME=ipython4
export LC_ALL=C.UTF-8

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install

	rm -r `find debian/python-ipython4 -name tests -type d`
	rm -r debian/python-ipython4/usr/bin debian/python-ipython4/usr/share/man
	rm -r `find debian/python3-ipython4 -name tests -type d`
	rm -r debian/python3-ipython4/usr/bin debian/python3-ipython4/usr/share/man

override_dh_auto_test:
	@echo "No test to avoid circular dependencies"

override_dh_installman:
	dh_installman
	mv debian/ipython4/usr/share/man/man1/ipython.1 debian/ipython4/usr/share/man/man1/ipython4.1
	mv debian/ipython4-3/usr/share/man/man1/ipython.1 debian/ipython4-3/usr/share/man/man1/ipython4-3.1

override_dh_sphinxdoc:
ifeq (,$(findstring nodocs, $(DEB_BUILD_OPTIONS)))
	PYTHONPATH=. sphinx-build -b html docs/source debian/python-ipython4-doc/usr/share/doc/python-ipython4-doc/html
	dh_sphinxdoc -O--buildsystem=pybuild
endif
